*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.calc-screen{
    width: 250px;
    height: 50px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 35px;
    border: none;
    padding: 0 20px;
    
}

.calc-keys{
    width: 250px;
}

.row{
    display: flex;
}

button{
    height: 50px;
    background-color: gray;
    border: 1px solid black;
    font-size: 20px;
    width: 25%;
    outline: 0;
}

.all-clear, .zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color: orange;
}

button:hover{
    background-color: darkgrey;
}

.operator:hover{
    background-color: darkorange;
}